body {
  height: 100vh;
  animation: bgchange 8s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color:#ffc64f;
  font-size: 70px;
}

@keyframes bgchange {
  0% {
    background-color: #c3e7f1;
  }

  20% {
    background-color: #519cab;
  }

  40% {
    background-color: #c3e7f1;
  }

  60% {
    background-color: #519cab;
  }

  80% {
    background-color: #c3e7f1;
  }

  100% {
    background-color: #519cab;
  }
}
